[Desktop Entry]
Name=FileTerm
Comment=Remote terminal and file management workspace
Exec=/usr/bin/fileterm %U
TryExec=/usr/bin/fileterm
Icon=fileterm
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=SSH;SFTP;FTP;Terminal;
StartupWMClass=FileTerm
